@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Cairo', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  text-align: right;
}
